*{
    padding: 20px;
    margin: 20px;
}

body{
    background-color: gainsboro;
    

}

#d1{
    background-color: whitesmoke;
    border-left: 6px solid black;
    color: goldenrod
}

h1{
    text-transform: capitalize;
    text-decoration: line-through;
    text-align: center;
    color: yellowgreen;
}

a{
    text-decoration: none;
}